# Frequencies and measures

In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('train.csv', sep = ',')

In [4]:
data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [13]:
data['Survived'].value_counts(normalize = True) * 100

0    61.616162
1    38.383838
Name: Survived, dtype: float64

In [14]:
data['Pclass'].value_counts(normalize = True) * 100

3    55.106622
1    24.242424
2    20.650954
Name: Pclass, dtype: float64

In [15]:
data['Sex'].value_counts(normalize = True) * 100

male      64.758698
female    35.241302
Name: Sex, dtype: float64

In [16]:
data['SibSp'].value_counts(normalize = True) * 100

0    68.237935
1    23.456790
2     3.142536
4     2.020202
3     1.795735
8     0.785634
5     0.561167
Name: SibSp, dtype: float64

In [17]:
data['Parch'].value_counts(normalize = True) * 100

0    76.094276
1    13.243547
2     8.978676
5     0.561167
3     0.561167
4     0.448934
6     0.112233
Name: Parch, dtype: float64

In [18]:
data['Embarked'].value_counts(normalize = True) * 100

S    72.440945
C    18.897638
Q     8.661417
Name: Embarked, dtype: float64